# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# MLflow
mlruns/

# Model Files
models/
artifacts/
*.pkl
*.joblib
*.onnx
