# -----------------------------
# Core Data Science
# -----------------------------
numpy
pandas
scipy

# -----------------------------
# Visualization
# -----------------------------
matplotlib
seaborn
plotly

# -----------------------------
# Machine Learning
# -----------------------------
mlflow
scikit-learn
lightgbm
catboost
xgboost
imbalanced-learn
joblib

# -----------------------------
# Experiment Tracking
# -----------------------------
mlflow

# -----------------------------
# Database
# -----------------------------
sqlalchemy
psycopg2-binary
supabase

# -----------------------------
# AWS
# -----------------------------
boto3
awscli

# -----------------------------
# API
# -----------------------------
fastapi
uvicorn[standard]
pydantic

# -----------------------------
# Dashboard
# -----------------------------
streamlit

# -----------------------------
# Environment Variables
# -----------------------------
python-dotenv

# -----------------------------
# Jupyter
# -----------------------------
jupyter
notebook
ipykernel

# -----------------------------
# LLM
# -----------------------------
langchain
langchain-community
langchain-openai
openai

# Optional if using local Llama models through Ollama
langchain-ollama>=0.3.7

# -----------------------------
# Utilities
# -----------------------------
tqdm
requests
python-dateutil